body {
    background-color: #000000;
    /*color: #ffffff;*/
}

.navbar-style {
    /*background color en 0 le da la transparencia total*/
    background-color: rgba(255, 255, 255, 0) !important;
    position: absolute;
    top: 0;
    width: 100%;
    /* el navbar esta por encima del carrusel*/
    z-index: 10;
    padding-right: 100px;
    padding-left: 100px;

    .icons-text {
        .img-style {
            width: 20px;
        }

        .text-icons {
            color: #ffffff;
        }
    }

    .text-link {
        color: #ffffff;
        opacity: 70%;
    }
}

/*Contendido principal*/
.content-principal {
    padding-left: 80px;
    padding-right: 80px;

    .style-qs {
        .line-inicio {
            background-color: #ffffff;
            opacity: 15%;
            height: 0.9px;
            width: 90%;
            /* margin-top: 30px; */
            margin-bottom: 30px;
            /* align-content: center; */
            /* margin-right: 5%; */
            margin-left: 5%;
        }
    }

    .title-style {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }

    .text-desc {
        color: #ffffff;

    }

    .img-card {
        height: 145px;
    }

    .style-title-card {
        color: #ffffff !important;
        font-size: 15px;
    }

    .style-desc-card {
        color: #ffffff !important;
        font-size: 13px;
    }

    .card-style {
        border-color: #fff;
        min-height: 370px;
    }

    .style-button {
        color: #ffffff;
    }

    .sytle-text-form {
        color: #ffffff;
    }
}

.line-inicio {
    background-color: #ffffff;
    opacity: 15%;
    height: 0.9px;
    width: 100%;
}

.linea-final {
    background-color: #ffffff;
    opacity: 15%;
    height: 0.9px;
    width: 95%;
    margin-left: 2.5%;
}

.text-viajes {
    font-size: 20px;
    color: #ffffff;
}

.bg-icons {
    height: 60px;
}

.text-footer {
    padding-left: 230px;
}