@media (max-width: 768px) {
    /* desaparecer seccion quienes somos*/
    #quienes-somos {
      display: none;
    }

   /*desaparecer opcion quienes somos(menu)*/
    .item-special  {
        display: none;
    }
}

 /* Control de tamaño card adaptativas*/
@media (min-width: 768px) {
    .card-style {
        height: 500px;
    }
}

@media (min-width: 824px) {
    .card-style {
        height: 470px;
    }
}

@media (min-width: 924px) {
    .card-style {
        height: 400px;
    }
}
 /* Fin Control de tamaño card adaptativas*/

body {
    background-color: #000000;
    
    overflow-x: hidden;
    overflow-y: auto;
    /*margin:0;*/
}

/*centrar iconos de quienes somos*/
.text-bg-info {
    text-align: -webkit-center;
}

/*navbar*/
.navbar-style {
    /*background color en 0 le da la transparencia total*/
    background-color: rgba(255, 255, 255, 0) !important;
    position: absolute;
    top: 0;
    width: 100%;
    /* el navbar esta por encima del carrusel*/
    z-index: 10;
    padding-right: 100px;
    padding-left: 100px;
}

.icons-text {
    .img-style {
        width: 20px;
    }

.text-icons {
        color: #ffffff;
        font-family: "Cabin", sans-serif;
        font-weight: 400;
    }
}

.text-link {
    color: #ffffff;
    opacity: 70%;
    font-size:16px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

/*clases compartidad*/
.content-principal {
    padding-left: 80px;
    padding-right: 80px;
}

.title-style {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.line-inicio {
    background-color: #ffffff;
    opacity: 15%;
    height: 0.9px;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 5%;
}

.text-desc {
    color: #ffffff;
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

/*seccion destacados*/
.card-style {
    border-color: #fff;
    min-height: 370px;
}

.img-card {
    min-height: 145px;
    max-height: 145px;
}

.style-title-card {
    color: #ffffff !important;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

.style-desc-card {
    color: #ffffff !important;
    font-size: 15px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

/*contacto*/
.linea-final {
    background-color: #ffffff;
    opacity: 15%;
    height: 0.9px;
    width: 96%;
    margin-left: 2%;
    margin-right:2%;
}

.sytle-text-form {
    color: #ffffff;
    font-size:16px;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

.style-button {
    color: #ffffff;
}

/*footer*/
.bg-icons {
    height: 60px;
}

.text-viajes {
    font-size: 20px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.icons-footer {
    padding-left: 5px;
    color: #0dcaf0;
}

.footer {
    text-align: -webkit-center;
}

.row-footer {
    padding-top: 12px;
    place-content: center;
}