body {
    background-color: #000000;
    /*color: #ffffff;*/
}

.navbar-style {
    /*background color en 0 le da la transparencia total*/
    background-color: rgba(255, 255, 255, 0) !important;
    position: absolute;
    top: 0;
    width: 100%;
    /* el navbar esta por encima del carrusel*/
    z-index: 10;
    padding-right: 100px;
    padding-left: 100px;

    .icons-text {
        .img-style {
            width: 20px;
        }

        .text-icons {
            color: #ffffff;
        }
    }

    .text-link {
        color: #ffffff;
        opacity: 70%;
    }
    
}

/*section quienes somos*/
.style-qs {
    padding-left: 100px;
    padding-right: 100px;

    .title-style {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }

    .line-inicio {
        background-color: #ffffff;
        opacity: 15%;
        height: 0.9px;
        width: 90%;
        /* margin-top: 30px; */
        margin-bottom: 30px;
        /* align-content: center; */
        /* margin-right: 5%; */
        margin-left: 5%;
    }
}

.text-desc {
    color: #ffffff;

}



.footer{
    height: 60px;
}

.text-viajes {
 font-size:20px;
 color: #ffffff;
}

